@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply inline-block;
  }
}



:root {
  --background: #f5f7f7
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f7f7
  }
} */

body {
  background: var(--background);
  font: var(--font-nunito-sans);
  background-size: 25px 25px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
